@media screen and (min-width: 1100px) {
    html,
    body {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        overflow-x: hidden;
        margin-top: 0px !important;
        background: conic-gradient(from 20deg at 35% 100%, rgb(70, 67, 67) 20%, rgba(255, 255, 255, 1) 58%);
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 10px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        text-decoration: none;
        font-family: 'Roboto';
        color: #ededed;
        transition: color 0.3s ease;
    }
    #menuToggle a:hover {
        color: tomato;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ededed;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #232323;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
    #footer {
        border-top: 3px solid white;
        background-color: rgb(51, 51, 51);
        width: 100%;
        height: fit-content;
        margin-top: 30%;
        margin-bottom: -10%;
        color: white;
    }
    #ContactFooter {
        font-size: 2.5em;
    }
    #HRContactFooter {
        width: 200px;
        margin-top: 2%;
        margin-bottom: 5%;
        background-color: white;
    }
    #imgfooterA {
        width: 50px;
        height: 50px;
        margin: auto 10% auto 10%;
        display: inline-block;
        position: center;
    }
    #footerAccueil {
        float: bottom;
        margin: 5% auto 2% auto;
        text-align: center;
        padding-bottom: 1%;
    }
    nav {
        position: relative;
        top: 10%;
        float: left;
    }
    header {
        background-image: url('img2.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        height: 900px;
    }
    #titre {
        margin: auto;
        position: relative;
        top: 28%;
        font-size: 3.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #presentation {
        position: relative;
        top: 35%;
        height: 2px;
        width: 10%;
        position: center;
        margin: -1% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PrePres {
        position: relative;
        top: 38%;
        margin-bottom: 2%;
        font-family: 'Roboto';
        font-size: 1.8em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #PassionTitre {
        margin: auto;
        position: relative;
        top: 20%;
        font-size: 3.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #HRPassion {
        position: relative;
        top: 29%;
        height: 2px;
        width: 10%;
        position: center;
        margin: -1% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PassionTxt {
        position: relative;
        top: 35%;
        margin-bottom: 2%;
        font-family: 'Roboto';
        font-size: 1.8em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    }
    h2 {
        margin: -10% auto 5% auto;
        font-size: 4em;
        font-family: 'Open Sans';
        font-weight: 321;
        color: rgb(0, 0, 0);
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }
    #parti2 {
        margin-top: 20%;
    }
    #LogoAT {
        width: 300px;
        margin: 6% auto auto 20%;
    }
    #txtBac {
        float: right;
        margin: 7% 9% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoBrev {
        width: 300px;
        margin: 6% auto auto 19%;
    }
    #txtBrev {
        float: right;
        margin: -115px 17% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    h3 {
        margin-top: 50%;
        margin-bottom: 5%;
        font-size: 3em;
        font-family: 'Open Sans';
        font-weight: 321;
        color: rgb(0, 0, 0);
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }
    #txtIUT {
        float: right;
        margin: 11% 9% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #partie4 {
        margin-top: 50%;
        font-size: 3em;
        font-family: 'Open Sans';
        font-weight: 321;
        color: rgb(0, 0, 0);
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }
    #LogoWeb {
        width: 300px;
        margin: 10% auto auto 20%;
    }
    #LogoRT {
        width: 270px;
        margin: 15% auto auto 20%;
    }
    #txtSkill {
        float: right;
        margin: 10% 8% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke
    }
    #txtSkill1 {
        float: right;
        margin: -110px 9% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke
    }
    #txtBasket {
        float: right;
        margin: 8% 7% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoATP {
        width: 270px;
        margin: 15% auto auto 20%;
    }
    #txtTennis {
        float: right;
        margin: 14% 9% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtTN {
        float: right;
        margin: 6% 13% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoFalcon {
        width: 270px;
        margin: 20% auto auto 20%;
    }
    #txtFalcon {
        float: right;
        margin: 19% 12% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoCult {
        width: 300px;
        margin: 7.7% auto auto 20%;
    }
    #txtBS {
        float: right;
        margin: -175px 12% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #titreProf {
        margin: auto;
        position: relative;
        top: 25%;
        font-size: 3.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #presentationProf {
        position: relative;
        top: 35%;
        height: 2px;
        width: 10%;
        position: center;
        margin: -1% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PreProf {
        position: relative;
        top: 40%;
        margin-bottom: 2%;
        font-family: 'Roboto';
        font-size: 1.8em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #LogoNet {
        width: 300px;
        margin: 8% auto auto 20%;
    }
    #txtNet {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 12% 6% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoIng {
        width: 300px;
        margin: 25% auto auto 20%;
    }
    #txtIng {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 26% 6% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoJob {
        width: 300px;
        margin: 25% auto auto 20%;
    }
    #txtJob {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 26% 6% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #titreSource {
        margin: auto;
        position: relative;
        top: 25%;
        right: 1%;
        font-size: 3.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
    .Link :hover {
        color: gray;
    }
    .Link :visited {
        color: blue;
    }
    .LogoLink {
        width: 270px;
        margin: 15% auto auto 20%;
    }
    #txtLink {
        float: right;
        margin: 18% 30% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtOCR {
        float: right;
        margin: 21% 25% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtAGT {
        float: right;
        margin: 22% 28% auto auto;
        font-family: 'Roboto';
        font-size: 2em;
        font-weight: lighter;
        color: whitesmoke;
    }
}

@media screen and (max-width: 1100px) {
    html,
    body {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        overflow-x: hidden;
        margin-top: 0px !important;
        background: conic-gradient(from 10deg at 30% 100%, rgb(70, 67, 67) 20%, rgba(255, 255, 255, 1) 58%);
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 10px;
        left: 30px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        text-decoration: none;
        font-family: 'Roboto';
        color: #ededed;
        transition: color 0.3s ease;
    }
    #menuToggle a:hover {
        color: tomato;
    }
    #menuToggle input {
        display: block;
        width: 32px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 30px;
        height: 2.9px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #ededed;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #232323;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
    #footer {
        border-top: 3px solid white;
        background-color: rgb(51, 51, 51);
        width: 100%;
        height: fit-content;
        margin-top: 30%;
        margin-bottom: -10%;
        color: white;
    }
    #ContactFooter {
        font-size: 2em;
    }
    #HRContactFooter {
        width: 100px;
        margin-top: 2%;
        margin-bottom: 5%;
        background-color: white;
    }
    #imgfooterA {
        width: 40px;
        height: 40px;
        margin: auto 5% auto 5%;
        display: inline-block;
        position: center;
    }
    #footerAccueil {
        float: bottom;
        font-size: 1em;
        margin: 5% auto 2% auto;
        text-align: center;
        padding-bottom: 1%;
    }
    nav {
        position: relative;
        top: 50px;
        float: left;
    }
    header {
        background-image: url('img2.jpg');
        background-size: 100%;
        height: 440px;
        background-repeat: no-repeat;
    }
    #titre {
        margin: auto;
        top: 8%;
        position: relative;
        font-size: 2.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #presentation {
        position: relative;
        height: 1px;
        width: 10%;
        position: center;
        margin: 10% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PrePres {
        margin-bottom: 5%;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    h2 {
        margin-top: -45%;
        font-size: 2.5em;
        font-family: 'Open Sans';
        font-weight: 321;
        color: rgb(0, 0, 0);
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }
    #parti2 {
        margin-top: 20%;
    }
    #LogoAT {
        width: 130px;
        margin: 12% auto auto 10%;
    }
    #txtBac {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 7% 6.5% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoBrev {
        width: 130px;
        margin: 25% auto auto 10%;
    }
    #txtBrev {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -15% 6% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    h3 {
        margin-top: 50%;
        font-size: 2.5em;
        font-family: 'Open Sans';
        font-weight: 321;
        color: rgb(0, 0, 0);
        text-shadow: black 0.1em 0.1em 0.2em;
        text-align: center;
    }
    #txtIUT {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -25% 6% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #partie4 {
        margin-top: 40%;
    }
    #LogoWeb {
        width: 130px;
        margin: 9% auto auto 11%;
    }
    #LogoRT {
        width: 150px;
        margin: 35% auto auto 10%;
    }
    #txtSkill {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 5% 8% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke
    }
    #txtSkill1 {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -80px 8% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke
    }
    #PassionTitre {
        margin: auto;
        top: 8%;
        position: relative;
        font-size: 2.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #HRPassion {
        position: relative;
        height: 1px;
        width: 10%;
        position: center;
        margin: 10% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PassionTxt {
        margin-bottom: 5%;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #txtBasket {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 8% 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoATP {
        width: 130px;
        margin: 17% auto auto 10%;
    }
    #txtTennis {
        width: 38%;
        White-space: normal;
        width: 38%;
        White-space: normal;
        float: right;
        margin: 10% 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtTN {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 8% 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoFalcon {
        width: 130px;
        margin: 30% auto auto 10%;
    }
    #txtFalcon {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -25% 9% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoCult {
        width: 130px;
        margin: 15% auto auto 15%;
    }
    #txtBS {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -105px 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #titreProf {
        margin: auto;
        top: 8%;
        position: relative;
        font-size: 2.5em;
        text-align: center;
        color: whitesmoke;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #presentationProf {
        position: relative;
        height: 1px;
        width: 10%;
        position: center;
        margin: 10% auto 2% auto;
        background-color: rgb(179, 60, 39);
        border: 1px solid rgb(179, 60, 39);
        border-radius: 88px;
    }
    #PreProf {
        margin-bottom: 5%;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: rgb(71, 255, 240);
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    }
    #LogoNet {
        width: 130px;
        margin: 18% auto auto 15%;
    }
    #txtNet {
        width: 38%;
        White-space: normal;
        float: right;
        margin: 15% 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoIng {
        width: 130px;
        margin: 40% auto auto 15%;
    }
    #txtIng {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -20% 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #LogoJob {
        width: 130px;
        margin: 30% auto auto 15%;
    }
    #txtJob {
        width: 38%;
        White-space: normal;
        float: right;
        margin: -150px 7% auto auto;
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #titreSource {
        margin: auto;
        top: 8%;
        right: 8%;
        position: relative;
        font-size: 2em;
        text-align: center;
        color: red;
        font-family: 'Roboto';
        text-shadow: black 0.1em 0.1em 0.2em;
        -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
    #txtLink {
        float: right;
        margin: 20% 17% auto auto;
        font-family: 'Roboto';
        font-size: 1.2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtOCR {
        float: right;
        margin: 28% 10% auto auto;
        font-family: 'Roboto';
        font-size: 1.2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    #txtAGT {
        float: right;
        margin: 28% 17% auto auto;
        font-family: 'Roboto';
        font-size: 1.2em;
        font-weight: lighter;
        color: whitesmoke;
    }
    .LogoLink {
        width: 130px;
        margin: 15% auto auto 15%;
    }
}